---
layout: archive
title: "CSOL Coursework"
permalink: /portfolio/
author_profile: true
---

The Cyber Security Operations and Leadership program exposes students to various topics covering multiple cyber security domains. Throughout the courses, we have the opportunity to discuss and practice concepts of cryptography, vulnerability detection, security monitoring, forensics, and cyber threat intelligence.

The following sections present my experience going through the program, illustrated by sample coursework, reflections on the topics, and references utilized during the course.


{% include base_path %}

{% for post in site.portfolio reversed %}
  {% include archive-single.html %}
{% endfor %}
